Django==1.5.2
Markdown==2.2.1
MySQL-python==1.2.4
PIL==1.1.7
Pillow==1.7.8
Pygments==1.6
South==0.7.6
Whoosh==2.4.1
argparse==1.2.1
beautifulsoup4==4.3.1
bpython==0.12
distribute==0.6.35
django-appconf==0.6
django-bshell==1.0.3
django-categories==1.2.2
django-debug-toolbar==0.9.4
django-extensions==1.0.3
django-grappelli==2.4.3
django-haystack==2.1.0
django-image-cropping==0.6.3
django-medusa==0.2.0
django-mptt==0.5.5
django-reversion==1.7.1
django-taggit==0.11.2
-e git+git@github.com:rasca/django-taggit-jquery-tag-it.git@4a45a7a6cc00aadddff7048e2e1412cc2154dcb1#egg=django_taggit_autocomplete-master
easy-thumbnails==1.2
markdown2==2.1.0
newrelic==1.13.1.31
pysolr==3.0.5
requests==1.1.0
six==1.6.1
wsgiref==0.1.2
