<ul class="nav nav-tabs">
  {% if author.contents %}
  <li role="presentation"{% if active == 0 %} class="active"{% endif %}><a href="{% url 'author' author_slug=author.slug %}">YAZILARI</a></li>
  {% endif %}
  {% if author.figures %}
  <li role="presentation"{% if active == 1 %} class="active"{% endif %}><a href="{% url 'author' author_slug=author.slug %}?tab=1">GÖRSELLERİ</a></li>
  {% endif %}
  {% if author.figure_contents %}
  <li role="presentation"{% if active == 2 %} class="active"{% endif %}><a href="{% url 'author' author_slug=author.slug %}?tab=2">KULLANILAN GÖRSELLERİ</a></li>
  {% endif %}
  {% if author.covers %}
  <li role="presentation"{% if active == 3 %} class="active"{% endif %}><a href="{% url 'author' author_slug=author.slug %}?tab=3">KAPAK TASARIMLARI</a></li>
  {% endif %}
</ul>
