{% load thumbnail %}
{% load author %}
{% load cropping %}

{% if authors|length <= 1 and authors.0.image %}
  <div class="row">
    <div class="col-md-2 author-with-image">
      <a href="{% url 'author' author_slug=authors.0.slug %}">
        <img src="{% thumbnail authors.0.image 100x100 box=authors.0.cropping crop detail bw %}" /><br/>
        <cite class="authors">{{ authors.0.name }}</cite>
      </a>
    </div>
  </div>
{% else %}
  <cite class="authors">{{ authors|author_list|safe }}</cite>
{% endif %}
