div.cerciSlider {
  position: relative;
  display: none;
}

div.cerciSlider section.issue {
  margin-top: 30px;
  background-color: #4c3422;
  color: white;
}

div.cerciSlider section.issue a{
  color: white;
}

div.cerciSlider a.prev {
  position: absolute;
  top: 10px;
  left: 0px;
}

div.cerciSlider a.prev:before {
  content: "←";
}

div.cerciSlider a.next {
  position: absolute;
  top: 10px;
  right: 0px;
}

div.cerciSlider a.next:after {
  content: "→";
}