img.cover:hover {
  box-shadow: 0 0 20px #63AA9C;
}

img.cover {
  max-width: 370px;
  margin-bottom: 10px;
}

img.cover.last {
  margin-bottom: 0;
}

.issuecontents {
    overflow-y: hidden;
    padding-right: 40px;
    line-height: 2em;
}

.issuecontents p {
    margin-bottom: 20px;
}
