a.logo {
    width: 30%;
    height: 100px;
    margin: 0;
    margin-left: 50px;
    float: left;
    background: url("../images/cerci_logo2_ie8.png") no-repeat;
    background-size: 100px;
    position: relative;
    z-index: 100;
}


.social-accounts a {
    font-size: 32px;
}

.starters {
    display: none !important;
}

.starters div {
    float: left;
}

.starters div i{
    font-size: 30px;
}

.starter-target {
    display: block !important;
}

.form-search button.add-on {
  height: 30px;
  background-color: #4c3422;
  color: white;
}

.borderholder {
    position: relative;
    width: 220px;
    float: left;
    margin-left: 30px;
}


/* using Respond.js */
@media (max-width: 979px) and (min-width: 768px) {
    a.logo {
        width: 10%;
        height: 50px;
        background: url("../images/cerci_logo2_wheel_ie8.png") no-repeat;
    }
}
@media (max-width: 767px) {
    a.logo {
        width: 10%;
        height: 50px;
        background: url("../images/cerci_logo2_wheel_ie8.png") no-repeat;
    }

    .starters {
        display: inline-block !important;
        float: right;
    }
    .starter-target {
        display: none !important;
    }
}