h1.number {
    font-size: 2em;
}

.issue-info,
.editorial {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

.frontmatter .nav-pills li a{
    background-color: #63AA9C;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.frontmatter .nav-pills li a:hover{
    background-color: white;
    color: #63AA9C;
}

.issuecontent-wrapper {
    position: relative;
}

.is-subject {
    width: 95px;
    height: 31px;
    top: 20px;
    background-color: black;
    z-index: 2;
    color: white;
    padding: 5px;
    position: relative;
    left: -12px;
}

@media (max-width: 767px) {
    .image-files-wrapper {
        width:100%;
        float: none !important;
    }

    .image-files-wrapper img {
        width: 100%;
    }

    body {
        font-size: 1em;
    }
}
