.issuecontent {
    position: relative;
    margin-bottom: 40px;
    min-height: 300px;
    padding: 20px;
}

.issuecontent-bg {
    position: absolute;
    opacity: .2;
    z-index: 0;
    width: 100%;
    top: 0;
}

.issuecontent-link {
    position: relative;
    z-index: 1;
    padding: 20px;
}
