{% extends 'base.html' %}
{% load thumbnail %}
{% load author %}
{% load bootstrap %}
{% load static from staticfiles %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/search.css" %}" type="text/css"/>
  <link rel="stylesheet" href="{% static "css/toc.css" %}" type="text/css"/>
  <script type="text/javascript">
  $(document).ready(function(){
    var $advanced = $('.advanced');
    $('.advanced-starter').click(
        function() {
            if ($advanced.hasClass('visible')) {
                $advanced.removeClass('visible').addClass('hidden');
            }
            else {
                $advanced.removeClass('hidden').addClass('visible');
            }
        }
    );
  });
  </script>
{% endblock %}

{% block content %}
    <h2>Arama</h2>

    <form class="form-inline" method="get" action=".">
        {{ form.q|bootstrap:"nolabel" }}
        <input class="btn" type="submit" value="Ara">
        <div class="advanced-wrapper">
            <a class="advanced-starter" href="#">gelişmiş arama</a>
            <div class="advanced hidden">
                {{ form.models|bootstrap:"nolabel" }}
            </div>
        </div>
    </form>
    {% if query %}
        <h3>Sonuçlar</h3>
        {% for result in page.object_list %}
        {% if result.model_name == "issuecontent" %}
        {% with result.object as content %}
        {% with content.issue_set.all.0 as issue %}
        <section class="issuecontent{% if content.is_subject %} is-subject{% endif %}">
          {% include "partials/toc_bg.html" %}
          <div class="issuecontent-link">
            <h1>
              <a href="{% url 'current_issuecontent' issue_number=issue.number contentslug=content.slug %}">{{ content.title }}</a>
            </h1>
            <h2>{{ content.authors.all|author_list|safe }}</h2>
            {% if content.spot %}
            {{ content.spot|truncatewords_html:100|striptags|safe }}
            {% else %}
            {{ content.body|truncatewords_html:100|striptags|safe }}
            {% endif %}
            {% include "partials/tags.html" %}
            <a class="more" href="{% url 'current_issuecontent' issue_number=issue.number contentslug=content.slug %}" data-toggle="tooltip" data-placement="top" title="Devamını oku" data-container="body" ><img src="{% static "images/more.png" %}" /></a>
            {% if issue2content.is_subject %}
            <img class="subject" src="{% static "images/subject.png" %}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Günebakan" />
            {% endif %}
          </div>

        </section>
        {% endwith %}
        {% endwith %}
        {% endif %}
        {% if result.model_name == "author" %}
        {% with result.object as author %}
        <section class="author">
          {% if author.image %}
          <img class="author-image pull-left" src="{% thumbnail author.image 100x100 box=author.cropping crop detail bw %}" alt="{{ author.name }}" title="{{ author.name }}" />
          {% endif %}
          <h1 class="pull-left">YAZAR: <a href="{% url 'author' author_slug=author.slug %}">{{ author.name }}</a></h1>
        </section>
        {% endwith %}
        {% endif %}
        <div class="clearfix"></div>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;{% if request.GET.models %}models={{ request.GET.models }}&amp;{% endif %}page={{ page.previous_page_number }}">&laquo; Önceki</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;{% if request.GET.models %}models={{ request.GET.models }}&amp;{% endif %}page={{ page.next_page_number }}">Sonraki &raquo;</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}

{% block footer_navigation %}
{% endblock %}
