{% extends 'base.html' %}
{% load thumbnail %}
{% load author %}
{% load bootstrap %}
{% load static from staticfiles %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/search.css" %}" type="text/css"/>
  <script type="text/javascript">
  $(document).ready(function(){
    var $advanced = $('.advanced');
    $('.advanced-starter').click(
        function() {
            if ($advanced.hasClass('visible')) {
                $advanced.removeClass('visible').addClass('hidden');
            }
            else {
                $advanced.removeClass('hidden').addClass('visible');
            }
        }
    );
  });
  </script>
{% endblock %}


{% block header %}
<div class="starters">
  <div class="search-starter"><i class="icon-search icon-white"></i></div>
</div>
{% endblock %}

{% block genres %}
{% endblock %}

{% block logo %}
<a class="logo" href="{% url 'home' %}"></a>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
    <h2>Arama</h2>

    <form class="form-inline" method="get" action=".">
        {{ form.q|bootstrap:"nolabel" }}
        <input class="btn" type="submit" value="Ara">
        <div class="advanced-wrapper">
            <a class="advanced-starter" href="#">gelişmiş arama</a>
            <div class="advanced hidden">
                {{ form.models|bootstrap:"nolabel" }}
            </div>
        </div>
    </form>
    {% if query %}
        <h3>Sonuçlar</h3>

        {% for result in page.object_list %}
            <p>
                {% if result.object.get_absolute_url %}
                    {% if result.content_type == 'cerci_content.issuecontent' %}
                    {% with result.object.issue_set.all as issues %}
                    {% if issues.exists %}
                    <div class="borderholder">
                        <div class="issue image-wrapper pull-left">
                            <a href="{{ result.object.get_absolute_url }}">
                                {% if result.object.figures.exists %}
                                <img class="cover pull-left" src="{{ result.object.figures.all.0.image|thumbnail_url:'cover_list' }}" alt="İçerik Resmi" title="İçerik Resmi" />
                                {% else %}
                                <img class="cover pull-left" src="{{ result.object.issue_set.latest.cover|thumbnail_url:'cover_list' }}" alt="Kapak Resmi" title="Kapak Resmi" />
                                {% endif %}
                            </a>
                        </div>
                        <h1><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h1>
                        <h2>{{ result.object.authors.all|author_list|safe }}</h2>
                        <p class="content-body">{{ result.object.body|truncatewords_html:50|striptags|safe }}</p>
                        <a class="more" href="{{ result.object.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="Devamını oku" data-container="body" ><img src="{% static "images/more.png" %}" /></a>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% endif %}
                    {% if result.content_type == 'cerci_content.author' %}
                    <div class="borderholder">
                        <div class="author image-wrapper pull-left">
                            <a href="{{ result.object.get_absolute_url }}">
                                <img class="cover pull-left" src="{% thumbnail result.object.image 100x141 box=author.cropping crop detail bw %}" alt="Yazar" title="Yazar" />
                            </a>
                        </div>
                        <h1><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h1>
                        <p class="content-body">{{ result.object.biography|truncatewords_html:50|striptags|safe }}</p>
                        <a class="more" href="{{ result.object.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="Devamını oku" data-container="body" ><img src="{% static "images/more.png" %}" /></a>
                    </div>
                    {% endif %}

                    <div class="clearfix"></div>
                {% endif %}
            </p>
        {% empty %}
            <p>Sonuç Bulunamadı</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;{% if request.GET.models %}models={{ request.GET.models }}&amp;{% endif %}page={{ page.previous_page_number }}">&laquo; Önceki</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;{% if request.GET.models %}models={{ request.GET.models }}&amp;{% endif %}page={{ page.next_page_number }}">Sonraki &raquo;</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}

{% block footer_navigation %}
{% endblock %}
