{% load thumbnail %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Çerçi'nin Yeni Sayısı Çıktı!</title>
<style type="text/css">
h3 a, h3 a:hover, h3 a:visited { color: #333; text-decoration: none;}
a:hover { color: #09F !important; text-decoration: underline !important; }
a:hover#vw { background-color: #CCC !important; text-decoration: none !important; color:#000 !important; }
a:hover#ff { background-color: #6CF !important; text-decoration: none !important; color:#FFF !important; }
</style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #FFFFFF;" bgcolor="#FFFFFF" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
    <tr>
        <td>
            <!--email container-->
            <table cellspacing="0" border="0" align="center" cellpadding="0" width="624">
                <tr>
                    <td>
                        <!--header-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td valign="top"> <img src="{{ domain }}/static/emails/spacer-top.jpg" height="12" width="624" />
                                    <!--header content-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                              <h1 style="color: #333; margin: 0px; font-weight: normal; font-size: 60px; font-family: Helvetica, Arial, sans-serif;">{{ issue.subject }}</h1>
                                                <h2 style="color: #333; margin: 0px; font-weight: normal; font-size: 30px; font-family: Helvetica, Arial, sans-serif;">//
                                                    ÇERÇİ SANAT {{ issue.published_at|date:"F Y" }}
                                                </h2>
                                            </td>
                                            <td id="issue" valign="top" style="background-image: url('{{ domain }}/static/emails/issue-no.jpg'); background-color: #4b98d7; background-repeat: no-repeat; background-position: top; width: 109px; height: 109px;" bgcolor="#4b98d7">
                                                <!--number-->
                                                <table width="104" align="right" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="52" height="73" valign="bottom"><img align="right" src="{{ domain }}/static/emails/no.jpg" width="43" height="35"></td>
                                                        <td width="52" valign="bottom">
                                                          <h3 style="margin: 0px; padding:0; font-size: 32px; font-family: Helvetica, Arial, sans-serif; color: #FFF;">{{ issue.number }}</h3>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--/number-->
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/header content-->
                                </td>
                            </tr>
                        </table>
                        <!--/header-->
                        <!--line break-->
                        <table cellspacing="0" border="0" cellpadding="0" width="624">
                            <tr>
                                <td height="50" valign="middle" width="624"><img src="{{ domain }}/static/emails/line-break-2.jpg" height="13" width="624" /></td>
                            </tr>
                        </table>
                        <!--/line break-->
                        <!--email content-->
                        <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                            <tr>
                                <td>
                                    <!--section 1-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">
                                                    <a href="{{ domain }}{{ issue.get_absolute_url }}">
                                                    <img src="{{ domain }}{{ issue.cover|thumbnail_url:'email_cover' }}" alt="image dsc" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="622" />
                                                    </a>
                                                </p>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="{{ domain }}/static/emails/spacer-ten.jpg" height="10" width="624" /></p>
                                                <h2 style="font-size: 36px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;">{{ issue.editorial_title }}</h2>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">{{ issue.editorial|safe }}</p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 1-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="{{ domain }}/static/emails/line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--section 3-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"></p>
                                                <h3 style="font-size: 24px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;">İÇİNDEKİLER</h3>
                                                {% for issue2content in issue.issue2content_set.all %}
                                                {% with issue2content.content as content %}
                                                <!--line break-->
                                                <table cellspacing="0" border="0" cellpadding="0" width="624">
                                                    <tr>
                                                        <td height="35" valign="top"> <img src="{{ domain }}/static/emails/line-break.jpg" height="10" width="624" /> </td>
                                                    </tr>
                                                </table>
                                                <!--/line break-->
                                                <table cellspacing="0" border="0" cellpadding="0" width="624">
                                                    <tr>
                                                        <td valign="top" width="378">
                                                            <h3 style="font-size: 24px; font-family: Helvetica, Arial, sans-serif; color: #333 !important; margin: 0px;"><a href="{{ domain }}{{ content.get_absolute_url }}">{{ content.title }}</a></h3>
                                                            <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">
                                                                {% if content.spot %}
                                                                {{ content.spot|truncatewords_html:40|striptags|safe }}
                                                                {% else %}
                                                                {{ content.body|truncatewords_html:40|striptags|safe }}
                                                                {% endif %}
                                                                <a href="{{ domain }}{{ content.get_absolute_url }}" style="color: #4b98d7; text-decoration: none;">Devamını oku ›</a>
                                                            </p>
                                                        </td>
                                                        <td valign="top" width="246">
                                                            <a href="{{ domain }}{{ content.get_absolute_url }}">
                                                            {% if content.figures.exists %}
                                                                <img src="{{ domain }}{{ content.figures.all.0.image|thumbnail_url:'email_issuecontent_image' }}" align="right" height="239" alt="img6" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333; float: right;" width="217" />
                                                            {% elif content.is_figure %}
                                                                <img src="{{ domain }}{{ content.image|thumbnail_url:'email_issuecontent_image' }}" align="right" height="239" alt="img6" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333; float: right;" width="217" />
                                                            {% else %}
                                                                <img src="{{ domain }}{{ issue.cover|thumbnail_url:'email_issuecontent_image' }}" align="right" height="239" alt="img6" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333; float: right;" width="217" />
                                                            {% endif %}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                {% endwith %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/section 3-->
                                    <!--line break-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td height="30" valign="middle" width="624"><img src="{{ domain }}/static/emails/line-break-2.jpg" height="13" width="624" /></td>
                                        </tr>
                                    </table>
                                    <!--/line break-->
                                    <!--footer-->
                                    <table cellspacing="0" border="0" cellpadding="0" width="624">
                                        <tr>
                                            <td>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;">
                                                    Bu e-postayı Çerçi Sanat'a abone olduğunuz için almaktasınız.
                                                    Eğer bir hata olduğunu düşünüyorsanız ya da abonelikten ayrılmak istiyorsanız
                                                    <unsubscribe style="color: #4b98d7; text-decoration: none;">
                                                        <a href="{{ domain }}/newsletters/unsubscribe/">sizi buraya alalım.</a>
                                                    </unsubscribe>
                                                    <br />
                                                    <br />
                                                    ÇERÇİ SANAT</p>
                                                <p style="font-size: 17px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"><img src="{{ domain }}/static/emails/spacer-ten.jpg" height="10" width="624" /></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--/footer-->
                                </td>
                            </tr>
                        </table>
                        <!--/email content-->
                    </td>
                </tr>
            </table>
            <!--/email container-->
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>
