<!DOCTYPE html>
<html lang="tr-TR">
  <head>
    <title>Çerçi Sanat</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/error.css" type="text/css" media="screen" />
  </head>
  <body>
      <img src="/static/images/cerci_logo2.png" />
      <div class="well">
        <span class="error">500</span><br/>
        Sunucuda bir sorunla karşılaşıldı.<br/>
        Hata sistem yöneticilerine bildirildi.
      </div>
  </body>
</html>
