{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load author %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/authors.css" %}" type="text/css"/>
{% endblock %}

{% block content %}
<section class="contents genre">
    <ul class="list-unstyled">
      {% for author in authors %}
      <li>
        <div class="author image-wrapper">
          <a href="{% url 'author' author_slug=author.slug %}">
            <img class="cover" src="{{ author.image|thumbnail_url:'author_avatar_thumbnail' }}" title="{{ author.name }}" alt="" />
          </a>
        </div>
        <a href="{% url 'author' author_slug=author.slug %}">{{ author.name }}</a>
        <div class="clearfix"></div>
      </li>
      <hr/>
      {% endfor %}
    </ul>
</section>
{% endblock %}
