{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load author %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/authors.css" %}" type="text/css"/>
{% endblock %}

{% block content %}
<section class="contents genre">
  <h1 class="page-header">ÇERÇİLER</h1>
  <ul class="list-inline">
  {% for initial in initials %}
  <li>
  <h2><a href="{% url 'author_list' initial=initial %}">{{ initial }}</a></h2>
  </li>
  {% endfor %}
  </ul>
  <h1 class="page-header">{{ initial }}</h1>
    <ul class="list-unstyled">
      {% for author in authors %}
      <li>
        <div class="author image-wrapper pull-left">
          <a href="{% url 'author' author_slug=author.slug %}">
            <img class="cover" src="{% thumbnail author.image 50x50 box=author.cropping crop detail bw %}" title="{{ author.name }}" alt="" />
          </a>
        </div>
        <h3>
          <a class="pull-left" href="{% url 'author' author_slug=author.slug %}">{{ author.name }}</a>
        </h3>
        <div class="clearfix"></div>
      </li>
      <hr/>
      {% endfor %}
    </ul>
</section>
{% endblock %}
