{% load static from staticfiles %}{% load bootstrap %}<!DOCTYPE html>
<html lang="tr-TR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>{% block head_title %}Çerçi{% endblock %}</title>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
  </head>
  <body>
    {% block figure %}
    {% endblock %}
    {% block body %}
    <div class="container">
      <header class="clearfix">
        {% block logo %}
        <a class="logo" href="/"></a>
        {% endblock %}
        {% block navigation %}
        <ul class="primary-menu pull-right">
          {% include 'navigation.html' %}
        </ul>
        {% endblock %}
        {% block genres %}
        <nav class="genres-menu pull-right" role="navigation">
          <ul class="nav navbar-nav">
            {% for genre in genres %}
            <li><a class="genre" data-toggle="tooltip" data-placement="bottom" title="{{ genre.description|safe }}" data-html="true" href="{% url 'genre' genreslug=genre.slug %}">{{ genre }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endblock %}
        {% block social %}
        <div class="social-accounts pull-right">
          <a href="https://www.facebook.com/CerciSanat" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook'ta Çerçi Sanat"><i class="icon-facebook-sign icon-white"></i></a>
          <a href="https://twitter.com/cercisanat" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter'da Çerçi Sanat"><i class="icon-twitter-sign icon-white"></i></a>
          <a href="https://plus.google.com/107839000424667573646/posts" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Google+'ta Çerçi Sanat"><i class="icon-google-plus-sign icon-white"></i></a>
          <a href="http://pinterest.com/cercisanat/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Pinterest'te Çerçi Sanat"><i class="icon-pinterest-sign icon-white"></i></a>
        </div>
        {% endblock %}
        {% block search %}
        <form class="search pull-right" action="/arama">
            <input class="pull-right" type="text" name="q" placeholder="arama" />
        </form>
        {% endblock %}
        <div class="menu-hr"></div>
      </header>
      {% for message in messages %}
        <div class="alert alert-{% if message.tags %} {{ message.tags }}{% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message|safe }}
        </div>
      {% endfor %}
      {% block content %}
      {% endblock %}
      <div class="clearfix"></div>
      <footer class="clearfix">
        {% block footer_navigation %}
        <ul class="primary-menu pull-left">
          {% include 'navigation.html' %}
        </ul>
        {% endblock %}
        <div class="copyright pull-right">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a>
        </div>
      </footer>
    </div>
    {% endblock %}
  </body>
</html>
