{% extends "base.html" %}
{% load thumbnail %}
{% load author %}
{% load static from staticfiles %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/genre.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/toc.css" %}" type="text/css"/>
{% endblock %}


{% block content %}
<section class="table-of-contents">
  {% for content in contents %}
      {% with content.issue_set.all.0 as issue %}
      {% if content.is_published %}
        <section class="issuecontent {% if issue2content.is_subject %}is-subject{% endif %}">
            {% include "partials/toc_bg.html" %}
            
            <div class="issuecontent-link">
              <h1>
                <a href="{% url 'current_issuecontent' issue_number=issue.number contentslug=content.slug %}">{{ content.title }}</a>
              </h1>
              <h2>{{ content.authors.all|author_list|safe }}</h2>
              {% if content.spot %}
              {{ content.spot|truncatewords_html:100|striptags|safe }}
              {% else %}
              {{ content.body|truncatewords_html:100|striptags|safe }}
              {% endif %}
              {% include "partials/tags.html" %}
              <a class="more" href="{% url 'current_issuecontent' issue_number=issue.number contentslug=content.slug %}" data-toggle="tooltip" data-placement="top" title="Devamını oku" data-container="body" ><img src="{% static "images/more.png" %}" /></a>
              {% if issue2content.is_subject %}
              <img class="subject" src="{% static "images/subject.png" %}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Günebakan" />
              {% endif %}
            </div>
        </section>
      {% endif %}
      {% endwith %}
  {% endfor %}
</section>
{% endblock %}
