{% extends "base.html" %}
{% load thumbnail %}
{% load author %}
{% load static from staticfiles %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/genre.css" %}" type="text/css"/>
{% endblock %}


{% block content %}
<section class="category contents">
    <ul class="list-unstyled">
        {% for content in contents %}
        {% with content.issue_set.all as issues %}
        <li>

            {% if issues.exists and content.is_published %}
                <div class="borderholder">
                    <div class="issue image-wrapper pull-left">
                        <a href="{% url 'current_issuecontent' issue_number=issues.0.number contentslug=content.slug %}">
                            {% if content.figures.exists %}
                            <img class="cover pull-left" src="{{ content.figures.all.0.image|thumbnail_url:'cover_list' }}" alt="İçerik Resmi" title="İçerik Resmi" />
                            {% elif content.is_figure %}
                            <img class="cover pull-left" src="{{ content.image|thumbnail_url:'cover_list' }}" alt="İçerik Resmi" title="İçerik Resmi" />
                            {% else %}
                            <img class="cover pull-left" src="{{ issues.0.cover|thumbnail_url:'cover_list' }}" alt="Kapak Resmi" title="Kapak Resmi" />
                            {% endif %}
                        </a>
                    </div>
                    <h1><a href="{% url 'current_issuecontent' issue_number=issues.0.number contentslug=content.slug %}">{{ content.title }}</a></h1>
                    <h2>{{ content.authors.all|author_list|safe }}</h2>
                    <p class="content-body">{{ content.body|truncatewords_html:50|striptags|safe }}</p>
                    {% include "partials/tags.html" %}
                </div>

                <div class="clearfix"></div>
            {% endif %}
        </li>
        {% endwith %}
        <hr/>
        {% endfor %}
    </ul>
</section>
{% endblock %}
