{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<section class="crew content">
    <h1>Ekip</h1>
    <h2>Yazı işleri ve Yayın Koordinatörlüğü</h2> 
    <ul>  
      <li>Tuğçe Ayteş</li>
      <li>Tülay Akyol</li> 
      <li>Şengül Can</li>
      <li>Özlem Şan</li>
    </ul>
    <h2>Logo Tasarımı</h2>
    <ul>
        <li>Defne Sabuncu</li>
        <li>Burcu Urgut</li>
    </ul>
    <h2>Web Geliştirme</h2>
    <ul>
        <li>Can Mustafa Özdemir</li>
    </ul>
    <h2>Tasarım</h2>
    <ul>
        <li>Can Mustafa Özdemir</li>
        <li>Özlem Şan</li>
    </ul>
</section>
{% endblock %}
