{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<section class="crew content">
    <h1>Ekip</h1>
    <h2>Yazı işleri ve Yayın Koordinatörlüğü</h2> 
    <ul>
      <li>Yusuf Turhallı (Şiir Editörü)</li>
      <li>Şengül Can (Öykü Editörü)</li>
      <li>Tuğçe Ayteş (Deneme ve İnceleme Editörü)</li>
      <li>Tülay Akyol (Redaktör)</li>
      <li>Özlem Şan (Genel Yayın Yönetmeni)</li>
    </ul>
    <h2>Logo Tasarımı</h2>
    <ul>
        <li>Defne Sabuncu</li>
        <li>Burcu Urgut</li>
    </ul>
    <h2>Web Geliştirme</h2>
    <ul>
        <li>Can Mustafa Özdemir</li>
    </ul>
    <h2>Kreatif Direktör</h2>
    <ul>
        <li>Can Mustafa Özdemir</li>
        <li>Özlem Şan</li>
    </ul>
</section>
{% endblock %}
