{% load static from staticfiles %}
{% load compress %}
<meta charset="utf8" />
<meta http-equiv="Content-Language" content="tr" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic|Ubuntu+Condensed&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
{% compress css %}
<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
<link rel="stylesheet" href="{% static "css/template.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "photobox/photobox.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "photobox/photobox.ie.css" %}" type="text/css"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="{% static "css/ie8.css" %}" type="text/css"/>
<![endif]-->
{% endcompress %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% compress js %}
<script type="text/javascript" src="{% static "ajax_forms/js/jquery-ajax-validation.js" %}"></script>
<script type="text/javascript" src="{% static "photobox/jquery.photobox.js" %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  var url = window.location.href.replace(window.location.hash, '');
  $('ul.auto-active a[href="'+ url +'"]').parent().addClass('active');
  $('ul.auto-active a').filter(function() {
      return this.href == url;
  }).parent().addClass('active');

});


$(document).ready(
    function() {
        var subscription_form = $('.subscription-form');
        $('.more').tooltip();
        $('.less').tooltip();
        $('.carousel').carousel('pause');
        if ($.cookie('subscribed_to_newsletters')) {
            $('.subscribe-form').hide();
            $('.subscribe-success', subscription_form).show();
        }
        else {
            $('.subscribe-form').show();
            $('.subscribe-success', subscription_form).hide();
        }

        $('.subscribe-form').validate({
            type: 'bootstrap',
            fields: ['id_email', 'id_name'],
            event: 'focusout',
            fieldSuccessCallback: function(field) {
                field.closest('.controls').addClass('ok');
            },
            formSuccessCallback: function(form) {
                $.cookie("subscribed_to_newsletters", 1, { expires : 999999 });
                form.hide();
                $('.subscribe-success', subscription_form).show();
            }
        });

        $('.another-subscription').on('click', function(e){
            $.removeCookie('subscribed_to_newsletters', { expires : 999999 });
            $('.subscribe-success', subscription_form).hide();
            $('.subscribe-form').show();
            $('#id_email').val('');
            $('#id_email').closest('.controls').removeClass('ok');
            $('#id_email').closest('.controls').removeClass('error');
            $('#id_name').val('');
            $('#id_name').closest('.controls').removeClass('ok');
            $('#id_name').closest('.controls').removeClass('error');
            e.preventDefault();
        });
    }
);


</script>
{% endcompress %}
{% if YANDEX_METRICA_ID %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter{{ YANDEX_METRICA_ID }} = new Ya.Metrika({id:{{ YANDEX_METRICA_ID }},
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/{{ YANDEX_METRICA_ID }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
