{% extends "base.html" %}
{% load thumbnail %}
{% load author %}
{% load static from staticfiles %}
{% load compress %}
{% block head %}
  {{ block.super }}
  {% compress js %}
  <script type="text/javascript" src="{% static "js/responsive/home.js" %}"></script>
  {% endcompress %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css"/>
  {% endcompress %}
{% endblock %}

{% block content %}
<h1>Sayı {{ last_issue.number }}, {{ last_issue.published_at|date:"F Y" }}</h1>
<div class="row">
  <section class="issue">
    <div class="col-md-4">
    <a href="{% url 'current_issue' issue_number=last_issue.number %}">
      <img class="cover last" src="{{ last_issue.cover|thumbnail_url:'cover' }}" alt="{{ last_issue.subject }}" title="{{ last_issue.subject }}" />
    </a>
    </div>
    <div class="col-md-8 issuecontents-wrapper">
      <div class="editorial">
        <h2>{{ last_issue.editorial_title }}</h2>
        {{ last_issue.editorial|truncatewords_html:100|striptags|safe }}
        <a class="more" href="{% url 'current_issue' issue_number=last_issue.number %}#editorial" data-toggle="tooltip" data-placement="top" title="Devamını oku" data-container="body" ><img src="{% static "images/more.png" %}" /></a>
      </div>
    </div>
  </section>
</div>
<hr/>
<h1>ÖNCEKİ SAYILAR</h1>
<div class="row">
  {% for issue in issues %}
    <section class="issue col-md-4">
      <a href="{% url 'current_issue' issue_number=issue.number %}">
        <img class="cover" src="{{ issue.cover|thumbnail_url:'cover' }}" alt="{{ issue.subject }}" title="{{ issue.subject }}" />
      </a>
    </section>
  {% endfor %}
</div>
{% endblock %}
