{% extends "base.html" %}
{% load thumbnail %}
{% load author %}
{% load static from staticfiles %}
{% load compress %}
{% block head %}
  {{ block.super }}
  {% compress js %}
  <script type="text/javascript" src="{% static "js/responsive/home.js" %}"></script>
  {% endcompress %}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css"/>
  {% endcompress %}
{% endblock %}

{% block content %}
<h1>Sayı {{ last_issue.number }}, {{ last_issue.published_at|date:"F Y" }}</h1>
<div class="row">
  <section class="issue">
    <div class="col-md-4">
    <a href="{% url 'current_issue' issue_number=last_issue.number %}">
      <img class="cover last" src="{{ last_issue.cover|thumbnail_url:'cover' }}" alt="{{ last_issue.subject }}" title="{{ last_issue.subject }}" />
    </a>
    </div>
    <div class="col-md-8 issuecontents-wrapper">
      <div class="editorial">
        <h2>{{ last_issue.editorial_title }}</h2>
        {{ last_issue.editorial|truncatewords_html:100|striptags|safe }}
        <a class="more" href="{% url 'current_issue' issue_number=last_issue.number %}#editorial" data-toggle="tooltip" data-placement="top" title="Devamını oku" data-container="body">
          <i class="fa fa-chevron-circle-right fa-lg"></i></a>
      </div>
    </div>
  </section>
</div>
<hr/>
<h1>ÖNCEKİ SAYILAR</h1>
<div class="row issues" id="issues">
  {% for issue in issues %}
    <section class="issue col-md-4">
      <a href="{% url 'current_issue' issue_number=issue.number %}">
        <img class="cover" src="{{ issue.cover|thumbnail_url:'cover' }}" alt="{{ issue.subject }}" title="{{ issue.subject }}" />
      </a>
    </section>
  {% endfor %}
</div>
<div class="row">
<div id="issues-mobile" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for issue in issues %}
    <li data-target="#issues-mobile" data-slide-to="0" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for issue in issues %}
      <div class="item issue{% if forloop.first %} active{% endif %}">
        <a href="{% url 'current_issue' issue_number=issue.number %}">
          <img class="cover" src="{{ issue.cover|thumbnail_url:'cover' }}" alt="{{ issue.subject }}" title="{{ issue.subject }}" />
        </a>
        <div class="carousel-caption">
          Sayı {{ issue.number }}, {{ issue.published_at|date:"F Y" }}
        </div>
      </div>
    {% endfor %}  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#issues-mobile" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Önceki</span>
  </a>
  <a class="right carousel-control" href="#issues-mobile" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Sonraki</span>
  </a>
</div>

</div>
{% endblock %}
