{% extends "base.html" %}
{% load thumbnail %}
{% load author %}
{% load static from staticfiles %}
{% load youtube %}
{% load audio %}
{% load gallery %}
{% load compress %}
{% block head %}
  {{ block.super }}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/issue.css" %}" type="text/css"/>
  <link rel="stylesheet" href="{% static "css/issuecontent.css" %}" type="text/css"/>
  {% endcompress %}
  {% compress js %}
  <script type="text/javascript" src="{% static "js/responsive/issuecontent.js" %}"></script>
  <script type="text/javascript">
  var addthis_config = {
        ui_language: "tr"
        //"data_track_addressbar":true 
  } 
  </script>
  {% endcompress %} 
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5197ecf45f1cbd3d"></script>
  <!-- add these meta tags for facebook -->
  <meta property="og:url" content="{{ SITE_URL }}{{ request.path }}" />
  <meta property="og:title" content="'{{ issuecontent.title|escape }}' {{ issuecontent.authors.all|author_list|escape }} | Çerçi Sanat - Sayı {{ issue.number }}" />
  <meta property="og:description" content="{% spaceless %}{% if issuecontent.spot %}
                    {{ issuecontent.spot|truncatewords_html:50|striptags|escape }}
                    {% else %}
                    {{ issuecontent.body|truncatewords_html:50|striptags|escape }}
                    {% endif %}{% endspaceless %}" />
  {% if issuecontent.image %}
  <meta property="og:image" content="{{ SITE_URL }}{{ issuecontent.image.url }}" />
  {% else %}
  {% with issuecontent.figures.all as image %}
    {% if image.count %}
  <meta property="og:image" content="{{ SITE_URL }}{{ image.0.image.url }}" />
    {% endif %}
  {% endwith %}
  {% endif %}
  <meta property="og:site_name" content="Çerçi Sanat"/>
{% endblock %}

{% block head_title %}
{{ issuecontent }} | Çerçi-Sayı {{ issue.number }}
{% endblock %}


{% block header %}
<div class="starters">
  <div class="search-starter"><i class="icon-search icon-white"></i></div>
  <div class="menu-starter"><i class="icon-reorder icon-white"></i></div>
</div>
{% endblock %}

{% block genres %}
{% endblock %}

{% block content %}
<section class="issue clearfix">
    <hgroup class="page-header">
        <h1>Sayı {{ issue.number }}, {{ issue.published_at|date:"F Y" }}</h1>
    </hgroup>
    {% if issuecontent %}
    {% if preview %}
    <div class="preview-alert">
      Dikkat! Bu yalnızca bir önizlemedir. İçerik henüz yayında değildir.
    </div>
    {% else %}
    <div class="toc-container clearfix">
        {% if prev.get_absolute_url %}<a href="{{ prev.get_absolute_url }}" class="prev pull-left tooltipped" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Önceki"><i class="icon-arrow-left"></i></a>{% endif %}
        <a href="/" class="home-link tooltipped" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Çerçi Sanat Anasayfa"></a>
        <a href="#" class="toc-starter tooltipped" data-toggle="tooltip" data-placement="bottom" data-container="body" title="İçindekiler"><i class="icon-list-alt"></i></a>
        {% if next.get_absolute_url %}<a href="{{ next.get_absolute_url }}" class="next pull-right tooltipped" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Sonraki"><i class="icon-arrow-right"></i></a>{% endif %}
        <nav class="toc">
            <a class="issue_link" href="{% url 'current_issue' issue_number=issue.number %}" title="Dergi sayfasına geri dön">
                <img class="cover pull-left" src="{{ issue.cover|thumbnail_url:'cover_toc' }}" alt="Çerçi Sayı {{ issue.number }}, {{ issue.published_at|date:"F Y" }}" />
            </a>
            <ol>
            {% for issue2content in issue.get_contents %}
            {% with issue2content.content as content %}
              {% if content == issuecontent %}
              <li class="active">
                <strong>{{ content.title }}</strong><br/>
                <em>{{ content.authors.all|author_list_plain|safe }}</em>
              </li>
              {% else %}
              <li>
                <strong><a href="{% url 'current_issuecontent' issue_number=issue.number contentslug=content.slug %}">{{ content.title }}</a></strong><br/>
                <em>{{ content.authors.all|author_list_plain|safe }}</em>
              </li>
              {% endif %}
            {% endwith %}
            {% endfor %}
            </ol>
        </nav>
    </div>
    {% endif %}

    <h1 class="lt_767 title" id="content-{{issuecontent.id }}">{{ issuecontent.title }}</h1>
    <cite class="lt_767 authors">{{ issuecontent.authors.all|author_list|safe }}</cite>
    {% with issuecontent.figures.all as image %}
    {% if image.count %}
    <figure class="image-container pull-left span3 {% if image.count and issuecontent.genres.all.0.slug == 'siir' %}poem{% endif %}">
      <a class="galleryitem" href="{{ image.0.image.url }}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Daha büyük boyutlusunu görmek ve yakınlaştırabilmek için tıklayın.">
      <img class="content-image" src="{{ image.0.image|thumbnail_url:'issuecontent_image' }}" alt="{{ image.0.title }}" />
      </a>
      <figcaption>
      {% if image.0.title %}<h1>{{ image.0.title }}</h1>{% endif %}
      {% if image.0.authors %}<cite class="image-authors">{{ image.0.authors.all|author_list|safe }}</cite>{% endif %}
      {% if image.0.body %}<span class="description">{{ image.0.body|safe|removetags:"script style" }}</span>{% endif %}
      </figcaption>
    </figure>
    {% endif %}
    <div class="body {% if image.count and issuecontent.genres.all.0.slug == 'siir' %}span6 poem{% endif %}">
        <h1 class="gt_767 title" id="content-{{issuecontent.id }}">{{ issuecontent.title }}
        {% if user.is_staff %}
        <a href="{% url 'admin:cerci_content_issuecontent_change' issuecontent.id %}"><i class="icon-edit"></i></a>
        {% endif %}
        </h1>
        <cite class="gt_767 authors">{{ issuecontent.authors.all|author_list|safe }}</cite>
        <div class="content">
            {% if issuecontent.spot %}
              <blockquote class="spot">{{ issuecontent.spot|safe|removetags:"script style" }}</blockquote>
            {% endif %}
            {{ issuecontent.body|removetags:"script style"|youtube_embed_url|audio_embed|gallery_embed|safe }}


            {% if not preview %}
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <!-- AddThis Button END -->
            {% endif %}
        </div>
    </div>
    {% endwith %}
{% endif %}
</section>
{% endblock %}
