{% extends "base.html" %}
{% load thumbnail %}
{% load author %}
{% load static from staticfiles %}
{% load youtube %}
{% load audio %}
{% load gallery %}
{% load compress %}
{% block head %}
  {{ block.super }}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/issuecontent.css" %}" type="text/css"/>
  <link rel="stylesheet" href="{% static "css/toc.css" %}" type="text/css"/>
  <link rel="stylesheet" href="{% static "css/author_component.css" %}" type="text/css"/>
  {% endcompress %}
  {% compress js %}
  <script type="text/javascript" src="{% static "js/responsive/issuecontent.js" %}"></script>
  <script type="text/javascript">
  var addthis_config = {
        ui_language: "tr"
        //"data_track_addressbar":true 
  } 
  </script>
  {% endcompress %} 
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5197ecf45f1cbd3d"></script>
  <!-- add these meta tags for facebook -->
  <meta property="og:url" content="{{ SITE_URL }}{{ request.path }}" />
  <meta property="og:title" content="'{{ issuecontent.title|escape }}' {{ issuecontent.authors.all|author_list|escape }} | Çerçi Sanat - Sayı {{ issue.number }}" />
  <meta property="og:description" content="{% spaceless %}{% if issuecontent.spot %}
                    {{ issuecontent.spot|truncatewords_html:50|striptags|escape }}
                    {% else %}
                    {{ issuecontent.body|truncatewords_html:50|striptags|escape }}
                    {% endif %}{% endspaceless %}" />
  {% if issuecontent.image %}
  <meta property="og:image" content="{{ SITE_URL }}{{ issuecontent.image.url }}" />
  {% else %}
  {% with issuecontent.figures.all as image %}
    {% if image.count %}
  <meta property="og:image" content="{{ SITE_URL }}{{ image.0.image.url }}" />
    {% endif %}
  {% endwith %}
  {% endif %}
  <meta property="og:site_name" content="Çerçi Sanat"/>
{% endblock %}

{% block head_title %}
{{ issuecontent }} | Çerçi-Sayı {{ issue.number }}
{% endblock %}


{% block header %}
{% endblock %}

{% block genres %}
{% endblock %}

{% block content %}
<section class="issuecontent clearfix">
    {% if issuecontent %}
      {% if preview %}
        <div class="preview-alert">
          Dikkat! Bu yalnızca bir önizlemedir. İçerik henüz yayında değildir.
        </div>
      {% else %}
        {% include "partials/toc_container.html" %}
      {% endif %}
      
      {% if issuecontent.is_figure %}
        {% include "partials/figure_content.html" %}
      {% else %}
        {% include "partials/content.html" %}
      {% endif %}
      <div class="clearfix"></div>
      {% if not preview %}
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
          </div>
          <!-- AddThis Button END -->
      {% endif %}
      <a href="{% if prev.get_absolute_url %}{{ prev.get_absolute_url }}{% else %}{% url 'current_issue' issue_number=issue.number %}{% endif %}"
            class="icona large black prev pull-left tooltipped"
            data-toggle="tooltip" data-placement="bottom" data-container="body"
            title="Önceki">
            <i class="fa fa-arrow-left"></i>
      </a>
      {% if next.get_absolute_url %}
      <a href="{{ next.get_absolute_url }}" class="icona large black next pull-right tooltipped"
            data-toggle="tooltip" data-placement="bottom" data-container="body"
            title="Sonraki">
            <i class="fa fa-arrow-right"></i>
      </a>
      {% endif %} 

{% endif %}
</section>
{% endblock %}
