{% extends "base.html" %}
{% load thumbnail %}
{% load author %}
{% load static from staticfiles %}
{% load compress %}
{% block head_title %}
{{ block.super }}
-Sayı {{ issue.number }}
{% endblock %}

{% block head %}
  {{ block.super }}
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/issuecontent.css" %}" type="text/css"/>
  <link rel="stylesheet" href="{% static "css/issue.css" %}" type="text/css"/>
  <link rel="stylesheet" href="{% static "css/toc.css" %}" type="text/css"/>
  {% endcompress %}
  {% compress js %}
  <script type="text/javascript" src="{% static "js/jquery.expander.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.ellipsis.min.js" %}"></script>
  <script type="text/javascript">
  var static_url = "{% static "" %}";
  </script>
  <script type="text/javascript" src="{% static "js/responsive/issue.js" %}"></script>
  <script type="text/javascript" src="{% static "js/responsive/issuecontent.js" %}"></script>
  {% endcompress %}
{% endblock %}

{% block genres %}
{% endblock %}

{% block body %}
<div class="container">
<section class="issue contents clearfix">
    {% include "partials/toc_container.html" %}

    <section class="frontmatter row">
        <div class="image-files-wrapper pull-left col-md-5">
            <a class="galleryitem" href="{{ issue.cover.url }}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Daha büyük boyutlusunu görmek ve yakınlaştırabilmek için tıklayın.">
            <img class="cover" src="{{ issue.cover|thumbnail_url:'cover' }}" alt="Çerçi Sayı {{ issue.number }}, {{ issue.published_at|date:"F Y" }}" />
            </a>
        </div>
        <div class="issue-info col-md-7">
          <hgroup>
              <h1 class="number">Sayı {{ issue.number }}, {{ issue.published_at|date:"F Y" }}
              {% if user.is_staff %}
              <a href="{% url 'admin:cerci_issue_issue_change' issue.id %}"><i class="fa fa-edit"></i></a>
              {% endif %}
              </h1>
          </hgroup>
          <ul class="nav nav-pills">
            <li><a href="#editorial">EDİTÖRDEN</a></li>
            <li><a href="#table-of-contents">İÇİNDEKİLER</a></li>
          </ul>
          
          <section class="copyright_page">
            <strong>Yazar ve Çizerlerimiz:</strong><br/>{{ issue.copyright_page|safe|removetags:"script style" }}<br/>
            {% if issue.cover_design %}<strong>Kapak Tasarımı:</strong> {{ issue.cover_design.all|author_list|safe }}{% endif %}
          </section>

          {% if issue.issuefile_set.all.count %}
          <div class="files">
              {% for file in issue.issuefile_set.all %}
              <a class="file" href="{{ file.issue_file.url }}" download="{{ file.get_filename }}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Bu dergiyi {{ file.format }} formatında indirebilrisiniz.">{{ file.format }}</a>
              {% endfor %}
          </div>
          {% endif %}
        </div>
    </section>
    <h1 id="editorial" class="page-header">EDİTÖRDEN</h1>
    <selection class="editorial">
      <h2>{{ issue.editorial_title }}</h2>
      {{ issue.editorial|safe|removetags:"script style" }}
    </section>

    <h1 id="table-of-contents" class="page-header">İÇİNDEKİLER</h1>
    <section class="table-of-contents">
        {% for issue2content in issue.issue2content_set.all %}
            {% with issue2content.content as content %}
            {% if content.is_published %}
            <div class="issuecontet-wrapper">
              {% if issue2content.is_subject %}
                <div class="is-subject">
                GÜNEBAKAN
                </div>
              {% endif %}

              <section class="issuecontent"> 
                  {% if content.figures.exists %}
                  <img class="issuecontent-bg" src="{{ content.figures.all.0.image|thumbnail_url:'issuecontent_bg_image' }}" alt="İçerik Resmi" title="İçerik Resmi" />
                  {% elif content.is_figure %}
                  <img class="issuecontent-bg" src="{{ content.image|thumbnail_url:'issuecontent_bg_image' }}" alt="İçerik Resmi" title="İçerik Resmi" />
                  {% else %}
                  <img class="issuecontent-bg" src="{{ issue.cover|thumbnail_url:'issuecontent_bg_image'}}" alt="Kapak Resmi" title="Kapak Resmi" />
                  {% endif %}
 
                  <div class="issuecontent-link">
                    <h1>
                      <a href="{% url 'current_issuecontent' issue_number=issue.number contentslug=content.slug %}">{{ content.title }}</a>
                    </h1>
                    <h2>{{ content.authors.all|author_list|safe }}</h2>
                    {% if content.spot %}
                    {{ content.spot|truncatewords_html:100|striptags|safe }}
                    {% else %}
                    {{ content.body|truncatewords_html:100|striptags|safe }}
                    {% endif %}
                    <a class="more" href="{% url 'current_issuecontent' issue_number=issue.number contentslug=content.slug %}"
                      data-toggle="tooltip" data-placement="top" title="Devamını oku" data-container="body">
                      <i class="fa fa-chevron-circle-right fa-lg"></i>
                    </a>
                  </div>
              </section>
            </div>
            {% endif %}
            {% endwith %}
        {% endfor %}
    </section>
</section>
</div>
{% endblock %}
