{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<section class="rules content">
<h1>Site Kuralları</h1>

<ol>
    <li>Çerçi Sanat, edebiyat ve sanat alanlarında üretilen eserlerin yayınlandığı kolektif bir oluşumdur.</li>
    <li>Çerçi Sanat’ta yayınlanacak eserlerin kesinlikle yazarların kendisine ait olması gerekmektedir. Başkasına ait yazılar ve görseller ancak eser sahibinin izni alınarak yayınlanabilir.</li>
    <li>İsteyen herkes Çerçi Sanat’a eser gönderebilir. Ama gönderilecek bütün eserler, yazı ekibinin değerlendirmesinden geçtikten sonra yayınlanır. </li>
    <li>Yazı ekibi, yayınlanan bir yazının yayınlanma nedenini açıklamakla yükümlü değildir (ama gerekli durumlarda açıklanabilir.) Yayınlanmayacak veya ancak düzeltilirse yayınlanabilecek yazılara, mümkün olduğunca kısa bir gerekçelendirme yanıtı gönderilecektir.</li>
    <li>Eser sahiplerinin yaptıkları alıntılarda referans belirtmeleri zorunludur. Aksi halde bu, intihal olur. İntihallerin sorumluluğu her durumda yazara aittir. Çerçi Sanat sadece ve sadece hukuki sorumluluğun eser sahibine ait olduğunu bildirmekle yükümlüdür.</li>
    <li>Yayınlanan yazıların ve görsellerin telif hakkı eser sahibine ait olmakla birlikte, Çerçi Sanat’tan yapılan alıntılarda Çerçi Sanat’ın adı verilmeli veya yazının bağlantısı eklenmelidir. Çerçi Sanat ve/veya yazar adı anılmadan yapılan alıntılarda Çerçi Sanat’ın her hakkı saklıdır. Çerçi Sanat'ta yayınlanan tüm yazılar creative commons (CC BY-NC-ND 3.0) ile lisanslanmaktadır.</li>
    <li>Çerçi Sanat’a yazı ve görsel gönderenler yazılarının dergi, kitap ve yıllık gibi matbu olarak yayınlanmasına da izin vermiş sayılır.</li>
    <li>Çerçi Sanat, kolektif ve kâr amacı gütmeyen bir dergi olduğu için telif ödeyememektedir. Ama telif haklarına saygısını, eser sahiplerinin teliflerini yukarıda belirtilen maddelerle koruyarak yerine getirmeyi amaçlamaktadır.</li>
    <li>Gönderilen eserlerde bir kişiye, bir kuruma ya da bir devlete yönelik herhangi bir suçlama varsa yazarın resmi bir belgeyle veya matbu bir eserle bu suçlamayı destekleyebilmesi gerekir. Destekleyemediği takdirde Çerçi Sanat’ta yayınlanamaz. Yayınlanmış eserlerde dikkatten kaçmış, temelsiz bir suçlamayla karşılaşılırsa Çerçi Sanat sorumluluğun eser sahibine ait olduğunu bildirmekle yükümlü olduğunu tekrar belirtir.</li>
    <li>Eserin içeriği ne olursa olsun hiçbir tüzel veya gerçek kişiye ya da kuruma hakaret niteliği taşımamalıdır. Çerçi Sanat eserlerin eleştirel niteliğini gözden geçirecek ve hakaret niteliği taşıyan, temelsiz eleştirileri yayınlamayacaktır. Yayınlanan bir esere şikayet geldiğinde sorumluluk eser sahibine aittir ve Çerçi Sanat sadece, Madde 5 ve Madde 9’da belirtildiği üzere, bunu eser sahibine bildirmekle yükümlüdür. </li>
    <li>Eserin içeriği ne olursa olsun herhangi bir bireyi ya da topluluğu küçük düşüren, rencide eden ve küfür içeren yazılar Çerçi Sanat’ta yayınlanamaz (Bkz. Madde 5, Madde 9 ve Madde 10).</li>
    <li>Hiçbir edebi, sanatsal veya eleştirel özellik taşımayan, nitelikli bir anlatımı bulunmayan eserler Çerçi Sanat’ta yayınlanmaz. </li>
    <li>Gönderilen eserlerde azami Türkçe yeterlilik ve yazım kurallarına azami dikkat aranır. Çerçi Sanat’ın internette yayınlanan bir dergi olması bu kuralı değiştirmez. Yayınlanan eserlerde görülen anlatım bozuklukları ve imla hataları derhal düzeltilir. Farklı dillerdeki orijinal eserlerin çevirileri için de bu kural geçerlidir. (Bu maddede, Çerçi Sanat’taki yazıların Türkçe bilenler tarafından okunduğu farz edilmiştir.)</li>
    <li>Çerçi Sanat, yayından kaldırılan bir yazının kaldırılma nedenine dair bir soru geldiğinde, bunu yazara özel posta yoluyla açıklamakla yükümlüdür (Bkz. Madde 3 ve Madde 4).</li>
    <li>Çerçi Sanat’a gönderilen ve yayınlanan eserler, esas olarak hukuki engeller haricinde kaldırılmaz. Ama eser sahibinin geçerli bir gerekçesi olması durumunda, Çerçi Sanat ekibinin ortak kararıyla kaldırılabilir.</li>
    <li>Çerçi Sanat’a yazı ve görsel gönderen herkes bu maddeleri peşinen kabul etmiş sayılır. Daha sonra yapılacak itirazlar kabul edilmeyecektir.</li>
</ol>

Saygılarımızla,<br/>

Çerçi Sanat Yazı Ekibi
</section>
{% endblock %}
