<style>
.custom-publish {
}

.custom-publish .grp-publish {
    background-image: linear-gradient(#33CC33, #009900);
    border: 1px solid #009900;
}

.custom-unpublish .grp-unpublish {
    background-image: linear-gradient(#D34F4F, #BF3030);
    border: 1px solid #AB2B2B;
}
</style>

{% load i18n %}
<footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
    <ul>
        {% if show_delete_link %}
            <li class="grp-float-left"><a href="delete/" class="grp-button grp-delete-link">{% trans "Delete" %}</a></li>
        {% endif %}
        {% if original %}
        {% if original.is_published %}
        <li class="grp-float-left custom-unpublish"><a href="{% url 'unpublish_issue' issue_id=original.id %}" class="grp-unpublish grp-button">{% trans "Unpublish" %}</a></li>
        {% else %}
        <li class="grp-float-left custom-publish"><a href="{% url 'publish_issue' issue_id=original.id %}" class="grp-publish grp-button">{% trans "Publish" %}</a></li>
        {% endif %}
        {% endif %}
        {% if show_save %}
        	<li><input type="submit" value="{% trans 'Save' %}" class="grp-button grp-default" name="_save" {{ onclick_attrib }}/></li>
        {% endif %}
        {% if show_save_as_new %}
        	<li><input type="submit" value="{% trans 'Save as new' %}" class="grp-button" name="_saveasnew" {{ onclick_attrib }}/></li>
        {% endif %}
        {% if show_save_and_add_another %}
        	<li><input type="submit" value="{% trans 'Save and add another' %}" class="grp-button" name="_addanother" {{ onclick_attrib }} /></li>
        {% endif %}
        {% if show_save_and_continue %}
        	<li><input type="submit" value="{% trans 'Save and continue editing' %}" class="grp-button" name="_continue" {{ onclick_attrib }}/></li>
        {% endif %}
    </ul>
</footer>
